.footer-container{
    display: flex;
    flex-direction: column;
    background-color: #080d13;
    gap: 7px;
    padding: 20px;
}

.upper-section img{
    width: 35px;
    height: 35px;
    border-radius: 7px;
}

.upper-section {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding-top: 27px;
    padding-bottom: 46px;
    padding-left: 50px;
    padding-right: 50px;
}

.upper-section .left-side{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.left-side .bottom p{
    font-size: 15px;
    letter-spacing: 0.2px;
}

.upper-section .left-side .top{
    display: flex;
    align-items: center;
    gap: 7px;
}

.upper-section .right-side {
    display: flex;
    gap: 100px;
    margin-right: 130px;
}

.upper-section .right-side .links{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.right-side .links a{
    color: rgb(197, 197, 197);
}

.explore-section{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.right-side h2{
    font-size: 18px;
}

.right-side a{
    font-size: 15px;
}

.right-side a:hover{
    color: white;
}

.lower-section {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 5px;
}

@media(max-width: 1024px) {

    .upper-section .right-side {
        margin-right: 0;
    }
}

@media(max-width: 768px) {

    .upper-section {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 10px;
    }

    .left-side .bottom p{
        font-size: 13px;
    }

    .right-side .contact p{
        font-size: 13px;
    }

    .explore-section a{
        font-size: 13px;
    }

    .right-side {
        margin-bottom: 20px;
    }

    .lower-section label{
        font-size: 13px;
    }
}