.nav-bar {
    display: flex;
    flex-direction: row;
    background-color: #1a293a;
    gap: 300px;
    justify-content: center;
    align-items: center;
    padding: 11px;
    font-size: 15px;
    font-weight: normal;
}

.logo {
    font-weight: bold;
    margin-left: 55px;
    font-size: 37px;
}

.text-list {
    display: flex;
    gap: 50px;
}

.sign {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-right: 55px;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

#signup {
    text-align: center;
    font-weight: bold;
    padding: 8px;
    background-color: rgb(26, 106, 255);
    border-radius: 5px;
    width: 64px;
    height: 22px;
    font-size: 14px;
}

#logout {
    text-align: center;
    font-weight: bold;
    padding: 8px;
    background-color: rgb(26, 106, 255);
    border-radius: 5px;
    width: 64px;
    height: 22px;
    font-size: 14px;
}

#signup:hover {
    transform: scale(1.02);
}

.menu {
    display: none;
}

.menu span {
    display: block;
    background-color: whitesmoke;
    width: 30px;
    height: 3px;
    border-radius: 4px;
    margin: 5px 0;
}

.mobile-menu {
    display: none;
    flex-direction: column;
    background-color: #1a293a;
    padding: 15px 20px;
    gap: 15px;
}

/*For user account profile*/

.profile-menu {
    position: relative;
    background-color: rgb(164, 164, 255);
    padding: 5px;
    border-radius: 100px;
}

.profile-icon {
    background: none;
    border: none;
    font-size: 20px;
    color: whitesmoke;
    cursor: pointer;
}

.profile-dropdown {
    display: none;
    position: absolute;
    top: calc(100% + 8px);
    left: -60px;
    background-color: var(--nav-color);
    border-radius: 6px;
    padding: 8px 14px;
}

.profile-dropdown.open {
    display: block;
}

#delete-account-btn {
    background-color: #db2929;
    color: whitesmoke;
    border: none;
    padding: 8px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    white-space: nowrap;
    width: fit-content;
    margin: 10px;
}

/* For delete modal */

.confirm-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    align-items: center;
    justify-content: center;
    z-index: 200;
}

.confirm-overlay.open {
    display: flex;
}

.confirm-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--nav-color);
    padding: 25px 30px;
    border-radius: 10px;
    max-width: 350px;
    text-align: center;
}

.confirm-box img{
    width: 65px;
}

.confirm-box p {
    margin-bottom: 20px;
    font-size: 15px;
    max-width: 340px;
    color: whitesmoke;
}

.confirm-actions {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.confirm-actions button {
    padding: 9px 18px;
    border-radius: 6px;
    border: none;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

#confirm-cancel {
    background-color: #3a4a5c;
    color: whitesmoke;
}

#confirm-delete {
    background-color: #db2929;
    color: whitesmoke;
}

@media (max-width: 1024px) {
    .nav-bar {
        gap: 0;
        justify-content: space-between;
        padding: 11px 20px;
    }

    .logo {
        margin-left: 0;
        font-size: 28px;
    }

    .text-list,
    .sign {
        display: none;
    }

    .menu {
        display: block;
        cursor: pointer;
    }

    .mobile-menu {
        display: none;
        flex-direction: column;
        background-color: #1a293a;
        padding: 15px 20px;
        gap: 15px;
    }

    .mobile-menu.open {
        display: flex;
    }

    .mobile-menu #signup,
    .mobile-menu #logout {
        width: fit-content;
    }

    .mobile-menu .delete-account-btn-mobile {
        width: fit-content;
        background-color: #db2929;
        margin: 0;
        cursor: pointer;
    }
}

@media (max-width: 768px) {

    .confirm-box {
        margin: 0 25px;
    }
    .confirm-box img {
        width: 55px;
    }

    .confirm-box h3{
        font-size: 16px;
    }

    .confirm-box p {
        font-size: 14px;
    }
}

