<!DOCTYPE html>
<html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{{ url_for('static', filename = 'images/miranex.png') }}">
        <title>MiraNex</title>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/filters.css') }}">
    </head>

    <body>
        {% include 'nav.html' %}
        {% include 'filters.html' %}

        <main>
            <div class="container">
                <div class="anime-list">

                    <div class="label">
                        <p>Results</p>

                        <div class="sort-and-random">

                            <form method="GET" action="{{ url_for('browse') }}" class="sort-form">

                                {% for key, value in filter_args.items() %}

                                    {% if key != 'sort' %}
                                        {% for v in value %}
                                            <input type="hidden" name="{{ key }}" value="{{ v }}">
                                        {% endfor %}

                                    {% endif %}
                                {% endfor %}

                                <select name="sort" onchange="this.form.submit()">
                                    <option value="">Sort by</option>
                                    <option value="rating_desc" {% if current_sort == 'rating_desc' %}selected{% endif %}>Rating: High to Low</option>
                                    <option value="rating_asc" {% if current_sort == 'rating_asc' %}selected{% endif %}>Rating: Low to High</option>
                                    <option value="name_asc" {% if current_sort == 'name_asc' %}selected{% endif %}>Name: A-Z</option>
                                    <option value="name_desc" {% if current_sort == 'name_desc' %}selected{% endif %}>Name: Z-A</option>
                                    <option value="year_desc" {% if current_sort == 'year_desc' %}selected{% endif %}>Newest</option>
                                    <option value="year_asc" {% if current_sort == 'year_asc' %}selected{% endif %}>Oldest</option>
                                    <option value="episodes_desc" {% if current_sort == 'episodes_desc' %}selected{% endif %}>Episodes: High to Low</option>
                                    <option value="episodes_asc" {% if current_sort == 'episodes_asc' %}selected{% endif %}>Episodes: Low to High</option>
                                </select>
                            </form>

                            <form method="GET" action="{{ url_for('random_anime') }}" class="random-form">

                                {% for key, value in filter_args.items() %}

                                    {% for v in value %}
                                        <input type="hidden" name="{{ key }}" value="{{ v }}">
                                    {% endfor %}

                                {% endfor %}

                                <button type="submit" id="random-shuffle"><img src="{{ url_for('static', filename='images/shuffle.png') }}" alt="shuffle"></button>
                            </form>
                        </div>
                    </div>


                    <div class="anime-grid">
                        {% for anime in anime_list %}
                            <div class="list">
                                <a href="/anime/{{ anime.id }}" class="anime-card">
                                    <img src="{{ url_for('static', filename = 'images/' + anime.image) }}">
                                    <h2>{{ anime.name }}</h2>
                                </a>
                            </div>

                        {% else %}
                            <div class="no-result">
                                <p>No Results Found</p>
                            </div>
                        {% endfor %}
                    </div>

                    {% if pagination.pages > 1 %}

                        <div class="pagination">

                            {% if pagination.has_prev %}
                                <a href="{{ url_for('browse', page = pagination.prev_num, ** filter_args) }}" class="prev">< Previous</a>
                            {% endif %}

                            {% for p in pagination.iter_pages(left_edge = 1, right_edge = 1, left_current = 2, right_current = 2) %}
                            
                                {% if p %}
                                    {% if p == pagination.page %}
                                        <span class="current-page">{{ p }}</span>
                                    {% else %}
                                        <a href="{{ url_for('browse', page = p, ** filter_args) }}">{{ p }}</a>
                                    {% endif %}

                                {% else %}
                                    <span class="page-ellipsis">…</span>
                                {% endif %}

                            {% endfor %}

                            {% if pagination.has_next %}
                                <a href="{{ url_for('browse', page = pagination.next_num, ** filter_args) }}" class="next">Next ></a>
                            {% endif %}

                        </div>
                    {% endif %}
                </div>
            </div>
        </main>

        {% include 'footer.html' %}
    </body>

</html>
